body {
	margin: 0 auto;
	width: 100%;
	font-family: 'BYekan', Tahoma, Arial;
	direction: rtl;
}

#container {
	
	
}

/* #main-header { */
	/* width: 100%; */
	/* background: red; */
/* } */

/* #main-footer { */
	/* width: 100%; */
	/* background: blue */
/* } */